In [1]:
# Import the dependencies
import pandas as pd
from pathlib import Path
import numpy as np
from pymongo import MongoClient
import json
import requests 
from pprint import pprint
import matplotlib.pyplot as plt

In [12]:
# Read the data into a Pandas DataFrame
HDI_df = pd.read_csv('HDI trends update.csv')
HDI_df.drop(['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'a', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 21', 'Unnamed: 23', 'Unnamed: 25', 'Unnamed: 27'], axis=1, inplace=True)

HDI_df.head()

,HDI rank,Country,1990,2000,2010,2015,2018,2019,2020,2021,2015-2021,1990-2000,2000-2010,2010-2021,1990-2021
0,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,0,0.42,0.60,0.19,0.40
1,2.0,Norway,0.838,0.913,0.941,0.953,0.962,0.961,0.959,0.961,0,0.86,0.30,0.19,0.44
2,3.0,Iceland,0.811,0.871,0.902,0.945,0.959,0.960,0.957,0.959,0,0.72,0.35,0.56,0.54
3,4.0,"Hong Kong, China (SAR)",0.788,0.851,0.907,0.935,0.949,0.952,0.949,0.952,3,0.77,0.64,0.44,0.61
4,5.0,Australia,0.865,0.896,0.923,0.933,0.941,0.941,0.947,0.951,3,0.35,0.30,0.27,0.31

In [14]:
Internet_Usage_df = pd.read_csv('world internet usage.csv')
Internet_Usage_df.head()

,Unnamed: 0,Entity,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.0,0.0,0,0.0
1,1,Afghanistan,AFG,1981,0.0,0.0,0,0.0
2,2,Afghanistan,AFG,1982,0.0,0.0,0,0.0
3,3,Afghanistan,AFG,1983,0.0,0.0,0,0.0
4,4,Afghanistan,AFG,1984,0.0,0.0,0,0.0

In [15]:
Internet_Usage_df.rename(columns={'Entity': 'Country'}, inplace=True)
Internet_Usage_df.head()

,Unnamed: 0,Country,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,0,Afghanistan,AFG,1980,0.0,0.0,0,0.0
1,1,Afghanistan,AFG,1981,0.0,0.0,0,0.0
2,2,Afghanistan,AFG,1982,0.0,0.0,0,0.0
3,3,Afghanistan,AFG,1983,0.0,0.0,0,0.0
4,4,Afghanistan,AFG,1984,0.0,0.0,0,0.0

In [24]:
merged_df = HDI_df.merge(Internet_Usage_df, on='Country', how='left')

merged_df.head()

,HDI rank,Country,1990,2000,2010,2015,2018,2019,2020,2021,...,2000-2010,2010-2021,1990-2021,Unnamed: 0,Code,Year,Cellular Subscription,Internet Users(%),No. of Internet Users,Broadband Subscription
0,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,...,0.60,0.19,0.40,7707.0,CHE,1980.0,0.0,0.0,0.0,0.0
1,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,...,0.60,0.19,0.40,7708.0,CHE,1981.0,0.0,0.0,0.0,0.0
2,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,...,0.60,0.19,0.40,7709.0,CHE,1982.0,0.0,0.0,0.0,0.0
3,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,...,0.60,0.19,0.40,7710.0,CHE,1983.0,0.0,0.0,0.0,0.0
4,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,...,0.60,0.19,0.40,7711.0,CHE,1984.0,0.0,0.0,0.0,0.0

In [23]:
num_rows = merged_df.shape[0]
num_rows

7159

In [27]:
updated_df = merged_df.loc[:, ['HDI rank', 'Country', '1990', '2000', '2010', '2015', '2018', '2019', '2020', '2021', 'Year', 'No. of Internet Users']]

updated_df.head(40)

,HDI rank,Country,1990,2000,2010,2015,2018,2019,2020,2021,Year,No. of Internet Users
0,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1980.0,0.0
1,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1981.0,0.0
2,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1982.0,0.0
3,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1983.0,0.0
4,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1984.0,0.0
5,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1985.0,0.0
6,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1986.0,0.0
7,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1987.0,0.0
8,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1988.0,0.0
9,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1989.0,0.0
10,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1990.0,39982.0
11,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1991.0,80183.0
12,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1992.0,120399.0
13,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1993.0,150325.0
14,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1994.0,190170.0
15,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1995.0,250001.0
16,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1996.0,321647.0
17,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1997.0,1070136.0
18,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1998.0,1762840.0
19,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,1999.0,2428348.0
20,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2000.0,3382746.0
21,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2001.0,3980651.0
22,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2002.0,4467758.0
23,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2003.0,4772304.0
24,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2004.0,5004422.0
25,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2005.0,5207334.0
26,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2006.0,5658585.0
27,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2007.0,5822354.0
28,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2008.0,6049524.0
29,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2009.0,6288069.0
30,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2010.0,6563031.0
31,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2011.0,6739610.0
32,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2012.0,6812369.0
33,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2013.0,6983498.0
34,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2014.0,7156130.0
35,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2015.0,7244784.0
36,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2016.0,7463160.0
37,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2017.0,7579994.0
38,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2018.0,7816248.0
39,1.0,Switzerland,0.851,0.887,0.942,0.954,0.959,0.962,0.956,0.962,2019.0,7987829.0